html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px !important; /* Height of the footer */
  padding: 0;
  background-image: url("./images/BackgroundDark.png");
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here */
}

/* Jumbotron */

.letterB {
  height: 130px;
  width: 130px 
 }
.letterH {
  height: 130px;
  width: 130px;
}
.letterI {
 height: 130px;
 width: 60px 
}
.letterM {
 height: 130px;
 width: 130px 
}
.letterO {
 height: 130px;
 width: 130px 
}
.letterR {
 height: 130px;
 width: 130px 
}
.space {
 height: 130px;
 width: 55px 
}
.apostrophe {
 height: 130px;
 width: 30px 
}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}

div#alphatron.jumbotron {
  background: transparent !important;
}
.customLetters {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
